[Unit]
Description=goweb
 
[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/yunus/project/waminder/waminderbot-bin
 
[Install]
WantedBy=multi-user.target